<% if !@mr_number.nil? && @mr_number > 0 %>
   <% if !@mr_title.match(/^SS-[0-9]+/).nil? && @mr_number > 0 %>
## <%=@mr_title.match(/^SS-[0-9]+/)%> : [<%=@mr_sha.match(/^[0-9a-z]{8}/)%>](<%=@mr_sha%>)
<% end %>
<% end %>

### <%=@mr_title%>

<%=@mr_description%>
